.About{
    height: 300px;
    width: 900px;
}

.Wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .Wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200vh;
    position: relative;
    background-image: url("https://imgur.com/xWgfN8C.jpg");
    background-position: center;
   background-size: cover;
}