  .Background {
    height: 150vh;
    overflow:auto;
}

.Bismillah {
    font-size: 350%;
    font-weight: 900;
} 


.Tagline {
    font-weight: 900;
    color: rgb(77, 55, 173);
    font: 3.5em copperplate;
}

.Info {
font-weight: 500;
font-size: 150%;

}


.Image {
  height: 150%;
  width: 100%;
}

.Team {
    font-weight: 900;
    font: 3em georgia-bold;
    font-size: 400%;
}

.BoxA {
    background-color: #a8dcf3;
    text-align: center;
}