.Lottie{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.MoveSide {
    display: inline-block;
}

.HomePage{
    justify-content: center;
    align-items: center;
    text-align: center;
}



.Green {
    border: 5px solid green;
}

.Wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    position: relative;
}

.HomePageimg{
    width: 35%;
    height: 80%
}

.Wrap img {
    position: absolute;
    left: 0;
    bottom: 0;
}