.Lottie{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.MoveSide {
    display: inline-block;
}

.HomePage{
    justify-content: center;
    align-items: center;
    text-align: center;
}


.Wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.HomePageimg{
    width: 40%;
}

.Wrap img {
    position: absolute;
    left: 0;
    bottom: 0;
}

.TagLine1 {
    position: absolute;
    left: 4%;
    top: 10%;
    font-size: 300%; 
    font-weight: 900;
    color: black;
}

.TagLine2 {
    position: absolute;
    left: 10%;
    top: 18%;
    font-size: 300%; 
    font-weight: 900;
    color: black;
}

.Move1 {
    position: absolute;
    right: 15%;
    top: 15%;
}

.Move2 {
    position: absolute;
    right: 15%;
    top: 45%;
}

.Move3 {
    position: absolute;
    right: 15%;
    top: 72%;
}

.MoveText {
    position: absolute;
    right: 10%;
    top: 0;
    font-size: 300%; 
    font-weight: 900;
    color: black;
}

.HomepageText {
    font-size: 200%;
    font-weight: 900;
}