.EmotionBox {
    position: absolute;
    right: 8%;
    top: 2%;
    width: 35%;
    border-radius: 10px;
   display: flex;
   justify-content: center;
   align-content: center;
   background-color: #daf3fe;
}

.Wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110vh;
    position: relative;
    background-image: url("https://imgur.com/xWgfN8C.jpg");
    background-position: center;
   background-size: cover;
   margin-bottom:50px;
}

.HomePageimg{
   max-height: 77%;
}

.Wrap img {
    position: absolute;
    left: 2%;
    bottom: 0;
}

.TagLine1 {
    position: absolute;
    left: 4%;
    top: 5%;
    font-size: 4vw; 
    font-weight: 900;
    color: black;
}

.TagLine2 {
    position: absolute;
    left: 4.2%;
    top: 12%;
    font-size: 4vw; 
    font-weight: 900;
    color: black;
}

.QuestionText {
    font-size: 300%; 
    font-weight: 900;
    color: black;
}

.HomepageText {
    font-size: 200%;
    font-weight: 900;
}



 @media screen and (max-width: 992px) { 
    .Wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("https://imgur.com/xWgfN8C.jpg");
        background-position: center;
        background-repeat: repeat;
       position: relative;
       height: 110vh;
    }

    .EmotionBox {
        width: 50%;
        height: 84%; 
        border-radius: 10px;
        background-color: #daf3fe;
        position: absolute;
        top: 13%;
        right: 4%; 
    }

   .QuestionText {
    font-size: 220%; 
    font-weight: 900;
    color: black;
   }

.HomepageText {
    font-size: 140%;
    font-weight: 900;
    margin-top: 0;
}

.TagLine1 {
    font-size: 4.5vw; 
    font-weight: 900;
    color: black;
    position: absolute;
    justify-content: center;
    top:1%;
 
}

.TagLine2 {
    font-size: 4.5vw; 
    font-weight: 900;
    color: black;
    position: absolute;
    justify-content: center;
    top:7%; 
}

.HomePageimg{
    max-height: 80%;
 }

 .Wrap img {
    position: absolute;
    left: 2%;
    bottom: 0;
}
 }



 @media screen and (max-width: 9px) { 
    .QuestionText {
        font-size: 250%; 
        font-weight: 900;
        color: black;
       }

    .EmotionBox {
        width: 52%;
        height: 84%; 
       border-radius: 10px;
       background-color: #daf3fe;
       position: absolute;
       top: 14%;
    }
    .HomepageText {
        font-size: 140%;
        font-weight: 900;
        margin-top: 0;
    }
    
    .TagLine1 {
        font-size: 280%; 
        font-weight: 900;
        color: black;
        position: absolute;
        justify-content: center;
        top:1%;
     
    }
    
    .TagLine2 {
        font-size: 280%; 
        font-weight: 900;
        color: black;
        position: absolute;
        justify-content: center;
        top:7%; 
    }
    .HomePageimg{
        max-height: 80%;
     }
 }


 @media screen and (max-width: 900px) { 
    .Wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("https://imgur.com/xWgfN8C.jpg");
        background-position: center;
        background-repeat: repeat;
       position: relative;
       height: 110vh;
    }

    .EmotionBox {
        width: 50%;
        height: 82%; 
       border-radius: 10px;
       background-color: #daf3fe;
       position: absolute;
       top: 15%;
    }

   .QuestionText {
    font-size: 190%; 
    font-weight: 900;
    color: black;
   }

.HomepageText {
    font-size: 140%;
    font-weight: 900;
    margin-top: 0;
}

.TagLine1 {
    font-size: 250%; 
    font-weight: 900;
    color: black;
    position: absolute;
    justify-content: center;
    top:1%;
 
}

.TagLine2 {
    font-size: 250%; 
    font-weight: 900;
    color: black;
    position: absolute;
    justify-content: center;
    top:7%; 
}

.HomePageimg{
    max-height: 75%;
 }

 .Wrap img {
    position: absolute;
    left: 2%;
    bottom: 0;
}



 }

    @media screen and (max-width: 767px) { 
    
            .Wrap {
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: url("https://imgur.com/xWgfN8C.jpg");
                background-position: center;
                background-repeat: repeat;
               position: relative;
               height: 110vh;
            }
        
            .EmotionBox {
                width: 50%;
                height: 80%; 
               border-radius: 10px;
               background-color: #daf3fe;
               position: absolute;
               top: 15%;
            }
        
           .QuestionText {
            font-size: 160%; 
            font-weight: 900;
            color: black;
           }
        
        .HomepageText {
            font-size: 140%;
            font-weight: 900;
            margin-top: 0;
        }
        
        .TagLine1 {
            font-size: 250%; 
            font-weight: 900;
            color: black;
            position: absolute;
            justify-content: center;
            top:1%;
         
        }
        
        .TagLine2 {
            font-size: 250%; 
            font-weight: 900;
            color: black;
            position: absolute;
            justify-content: center;
            top:7%; 
        }
        
        .HomePageimg{
            max-height: 75%;
         }
        
         .Wrap img {
            position: absolute;
            left: 2%;
            bottom: 0;
        }

    }

    @media screen and (max-width: 707px) { 

        .Wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url("https://imgur.com/xWgfN8C.jpg");
            position: relative;
            height: 110vh;
        }
    
        .EmotionBox {
            width: 60%;
            height: 79%; 
            border-radius: 10px;
            background-color: #daf3fe;
            position: absolute;
            top: 17%;
        }
    
       .QuestionText {
        font-size: 160%; 
        font-weight: 900;
        color: black;
       }
    
    .HomepageText {
        font-size: 120%;
        font-weight: 900;
        margin-top: 0;
    }
    
    .TagLine1 {
        font-size: 250%; 
        font-weight: 900;
        color: black;
        position: absolute;
        justify-content: center;
        top:2%
    }
    
    .TagLine2 {
        font-size: 250%; 
        font-weight: 900;
        color: black;
        position: absolute;
        justify-content: center;
        top:7%; 
    }
    
    .HomePageimg{
        max-height: 70%;
     }
    
     .Wrap img {
        position: absolute;
        left: 2%;
        bottom: 0;
    }
    
     } 