.Padding {
    padding: 0;
}

.Sizeimg {
    width: 60%; 
}

.Aboutnav {
    margin-right: 10%;
    margin-bottom: 1%;
}


.Textline {
    border-bottom: 10px solid #C6FFFF;
    padding-bottom: 2px;
}
 
.Text{
    font-size: 150%; 
    font-weight: 900;
    color: black;
}

.Nounderline{
    text-decoration: none !important
  }



.Aboutnav:hover{
    box-shadow: 9px 15px 40px 20px blueviolet;
  }

  