
.Padding {
    padding: 0;
}

.Sizeimg {
    width: 70%; 
}

.Aboutnav {
    margin-right: 10%;
    margin-bottom: 1%;
}


.Textline {
    border-bottom: 10px solid #C6FFFF;
    padding-bottom: 2px;
}
 
.Text{
    font-size: 150%; 
    font-weight: 900;
    color: black;
}

.Nounderline{
    text-decoration: none !important
}

.btn:hover {
    padding: 10px;
    border: 5px solid #ffea41;
    border-radius: 10px;
    background: #ffea41;

}

.BackImg {
    background-image: url("https://imgur.com/nea7E6e.jpg");
    background-size: cover;
}


 @media (max-width: 991px) { 

    .Sizeimg {
        width: 27rem;
    }
   
    .Textline {
        border-bottom: 7px solid #C6FFFF;
        padding-bottom: 2px;
    }
 }

 @media (max-width: 930px) { 

    .Sizeimg {
        width: 25rem;
    }
   
    .Textline {
        border-bottom: 7px solid #C6FFFF;
        padding-bottom: 2px;
    }
 }


 @media (max-width: 768px) { 

    .Sizeimg {
        width: 30rem;
    }
   
    .Textline {
        border-bottom: 7px solid #C6FFFF;
        padding-bottom: 2px;
    }
 }

    @media (max-width: 767px) { 
        
        .Sizeimg {
            width: 25rem;
        }
       
        .Textline {
            border-bottom: 7px solid #C6FFFF;
            padding-bottom: 2px;
        }

    } 

    @media screen and (max-width: 707px) { 
        .Sizeimg {
            width: 20rem;
        }
       
        .Textline {
            border-bottom: 7px solid #C6FFFF;
            padding-bottom: 2px;
        }
     } 