.Padding {
    padding: 0;
}

.Sizeimg {
    width: 60%; 
}

.Aboutnav {
    margin-right: 10%;
    margin-bottom: 1%;
}


.Textline {
    border-bottom: 10px solid #C6FFFF;
    padding-bottom: 2px;
}
 
.Text{
    font-size: 150%; 
    font-weight: 900;
    color: black;
}

.Nounderline{
    text-decoration: none !important
}

.btn:hover {
    padding: 10px;
    border: 5px solid #ffea41;
    border-radius: 10px;
    background: #ffea41;

}


  